service elastic_forward
{
    disable         = no
    type            = UNLISTED
    socket_type     = stream
    protocol        = tcp
    user            = nobody
    wait            = no
    redirect        = 127.0.0.1 9200
    port            = 9200
    bind            = {{giilda_tinc_ip}}
}
