all:
  configuration:
    drm:
      familles: ["PRODUCTEUR_VINIFICATEUR", "NEGOCIANT", "COOPERATIVE"]
      details:
        export_detail:
          required: ["identifiant"]
      export_pays_debut: { }
      export_pays_fin: { "AUTRE": "Autres pays"}
      reprise_donnees_url: true
      sans_contrat_option: true
      delai_ouverture_teledeclaration: "-6 month"
      vrac_multi_produit: true
      crd_only_suspendus: true
      declassement_igp: false
      pdf_cvo: true
      campagne_liste_minimale: true
      defaults_crds_nodes: [ { 'couleur' : 'VERT', 'contenance' : 0.00750 },{ 'couleur' : 'VERT', 'contenance' : 0.00500 },{ 'couleur' : 'VERT', 'contenance' : 0.00375 } ]
      aggregate_edi:
        - { "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/PB": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BL",         "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/CD": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BL",         "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BN": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BL",         "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/RI": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BL",         "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/PG": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/BL",         "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/PN": "/declaration/certifications/AOC_ALSACE/genres/EFF/appellations/CREMANT/mentions/DEFAUT/lieux/DEFAUT/couleurs/DEFAUT/cepages/RS" }
      nb_extra_pdf_pages: 2
      mouvement_vide_neant: true
      negociant_facturable: true
