/**
 * Fichier : contrats.less
 * Description : styles spécifiques à la rubrique contrats
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/


/**
 * Etapes de la saisie
 ******************************************/
#rail_etapes
{
	.clearfix;
	.majuscules;
	font-size: 14px;
	margin: 0 0 25px;
	line-height: 47px;
	list-style: none;
	left: -10px;
	position: relative;

	li
	{
		background: @couleur-a5;
		border: solid #d5d4d4;
		border-width: 1px 0;
		float: left;
		
		a { .non-souligne(none); }
		
		& > *
		{
			display: block;
			padding: 0 18px 0 33px;
			position: relative;
			
			span
			{
				.border-radius(50%);
				.box-dimensions(22px, 22px);
				.box-shadow(1px 1px 1px rgba(0, 0, 0, 0.3) inset);
				
				background: @couleur-a5;
				display: inline-block;
				line-height: 22px;
				font-weight: bold;
				margin: 0 5px 0 0;
				text-align: center;
			}
			
			&:after
			{
				.pos-abs(0, -21px);
				.box-dimensions(21px, 47px);
				background: url(../images/fonds/bg_rail_etapes.png) 0 0 no-repeat;
				content: '';
			}
		}
		
		&:first-child
		{
			border-left-width: 1px;
			
			& > * { padding-left: 10px; }
		}
		
		&.actif
		{
			background: #fab120 url(../images/fonds/bg_rail_etapes.png) 0 -143px repeat-x;
			border-color: #f6b32c;

			a { 
                                color: #ffffff; 
                                .text-shadow(1px 1px rgba(214, 146, 10, 0.7)); 
                                strong{ font-weight:bold; } 
                        }
			
			& > *
			{
				span { background: #fbba3a; }
				
				&:after { background-position: 0 -47px; }
			}
		}
		
		&.passe
		{
			background: #fcf1d5;
			border-color: #e4da97;
			color: #8a6903;
			
			& > *
			{
				color: #886702;
				
				span
				{
					background: #fcf1d5;
				}
				
				&:after
				{
					background-position: 0 -94px;
				}
			}
		}
		
		strong { font-weight: normal; }
	}	
}



/**
 * Colonne
 ******************************************/

/* Progression de la saisie */
#contrat_progression
{
	p
	{
		font-weight: bold;
		margin: 0 0 5px;
		
		strong
		{
			font-size: 22px;
			margin: 0 5px 0 0;
		}
	}
	
	#barre_progression
	{
		.border-radius(5px);
		.box-shadow(0px 1px 2px #9e9e9e inset);
		background: url(../images/fonds/bg_fond_progression.png) 0 0 repeat-x #f0efef;
		
		span
		{
			.border-radius(5px);
			background: url(../images/fonds/bg_barre_progression.png) 0 0 repeat-x;
			display: block;
			height: 17px;
			padding: 0 5px;
		}
	}
}

/* Aide à la saisie */
#contrat_aide
{
	
	ul
	{
		font-weight: bold;
		line-height: 21px;
		
		li
		{
			margin: 8px 0;
			position: relative;
			
			a
			{
				color: @couleur-a4;
				display: inline-block;
				padding: 0 0 0 28px;
				
				&:before
				{
					.box-dimensions(21px, 21px);
					.sprite-pictos-actions;
					.pos-abs(0, auto, auto, 0);
					content: '';
				}
			}
			
			&.raccourcis
			{
				a:before { background-position: 0 -42px; }
			}
			
			&.assistance
			{
				a:before { background-position: 0 -63px; }
			}
			
			&.contact
			{
				a:before { background-position: 0 -84px; }
			}
		}
	}
}

/* Actions */
#contrat_actions_fin
{
	ul
	{
		font-size: 10px;
		
		li
		{
			margin: 10px 0;
			
			*
			{
				display: block;
			}
		}
	}
}

/* Information sur les contacts */
#infos_contact
{
	.contenu > ul
	{
		line-height: 20px;
		
		li
		{
			position: relative;
			
			a { display: inline-block; }
		}
		
		& > li
		{
			padding: 0 0 15px;
			
			& > a 
			{
				font-weight: bold;
				padding: 0 0 0 22px;
				
				&:before
				{
					.box-dimensions(0, 0);
					.pos-abs(3px, auto, auto, 6px);
					content: '';
					border-style: solid;
					border-width: 7px 0 7px 8px;
					border-color: transparent transparent transparent @couleur-a3;
				}
			}
			
			&.ouvert > a:before
			{
				border-width: 8px 7px 0;
				border-color: @couleur-a3 transparent transparent;
				top: 5px;
				left: 0;
			}
			
			ul
			{
				padding: 0 0 0 22px;
				
				li
				{
					margin: 10px 0;
					padding: 0 0 0 28px;
					
					&:before
					{
						.box-dimensions(20px, 20px);
						.sprite-pictos-actions;
						.pos-abs(0, auto, auto, 0);
						content: '';
					}
					
					&.nom
					{
						&:before { background-position: 0 -105px; }
					}
					
					&.tel
					{
						&:before { background-position: 0 -125px; }
					}
					
					&.fax
					{
						&:before { background-position: 0 -145px; }
					}
					
					&.email
					{
						&:before { background-position: 0 -165px; }
						
						a
						{
							.souligne;
							color: #e65658;
						}
					}
				}
			}
		}
	}
}

#contenu_etape{

        .error_list{
                color: red;
                float: right;
        }
        
        .col {
                float: left;
                vertical-align: top;
                width: 329px;              
        }      

        #recherche_operateur{
                background:@couleur-a5;
                padding:10px 10px 30px;

                .ui-autocomplete-input{
                        width:510px;
                        margin-right:10px;
                }

                #btn_rechercher{
                        .btn_majeur;
                        .btn_noir;
                        width:115px;
                }
                
                span#recherche_avancee{
                        .clearfix;
                        display:bloc;
                        color:@couleur-a4;
                        font-style:italic;
                        float:right;
                        .souligne;
                        padding-top:5px;
                }

        }

        #ouvrir_excel{
                float: right;
                margin-top: 50px;
        }

        

        #tableau_contrat{


                th{
                        .border(@couleur-a10);
                        background:@couleur-a5;
                        //&:first-child{ .border-radius(5px 0 0 0)}
                        //&:last-child{ .border-radius(0 5px 0 0)}
                        vertical-align:middle;
                }
                
                td{
                        .border(@couleur-a10);
                        vertical-align: top;
                        padding: 10px;

                        
                        
                }
                td.type{
                        vertical-align: middle;
                }
                #num_contrat{
                        a{
                                color:#2160cf;
                                text-decoration:underline;
                                font-style:italic;
                        }
                }

                .statut_non-solde td{ background-color : #fff8e8;}
                .statut_solde td{ background-color : #f0fae1; }
                .statut_annule td{ background-color : #feecec; }

        }

        #vrac_soussigne{
                
                .section_label_maj{
                    & >  label:first-child{ width : 310px; }
                }

                #vendeur_infos{ height : 160px;}

                #acheteur, #mandataire_choice{ padding-top : 40px; }

                #has_mandataire{ padding : 20px 0 0 10px;}

                #mandataire{ 
                        .clearfix; 
                        padding : 0 0 0 10px;
                } 

                #mandatant{ 
                        padding : 10px 0 0 0px;
                        .checkbox_list{ 
                                float: right;
                                margin-right: 195px;
                                li{ 
                                        display:inline; 
                                        float : left;
                                        width : 150px; 
                                }
                        }     
                }

                .btnModification{ .clearfix; margin-top : 10px;}

                .error_list
                {
                    padding: 0 0 0 40px;
                    position:absolute;
                    color : red;
                }

                .mandataire_infos{ .error_list
                {
                    padding: 0 0 0 53px;
                }}

        }

        #vrac_marche{
                
                #original, #produit, #millesime, #type, #label, #prixUnitaire, #domaine{

                        .clearfix;
                        margin : 20px 0; 

                        label{
                                &:first-child{
                                        display:block;
                                        float:left;
                                        width:230px;
                                }
                        }
                }   

                #vrac_marche_volumePropose{
                        label:first-child{
                                        width:215px;
                        }
                }

                #label .checkbox_list{
                        display: block;
                        float: left;
                }

                
        }
        #condition{
                .section_label_maj{ 
                        margin-top:20px;
                        label{ width: 190px;}
                }

                #prix_isVariable, #part_variable, #prixTotal_rappel{ 
                        label{ width: 230px;} 
                }

                .champ_datepicker{
                        span{
                            margin-left:40px;
                        }
                }

                
        }
        
        #vrac_validation, #vrac_recapitulatif, #vrac_visualisation{
            
                #titre{
                        background-color:@couleur-a7; 
                        padding: 10px;
                        text-align:center;
                }

                #ss_titre{
                        background-color:@couleur-a7; 
                        margin-top:10px;
                        padding: 10px;
                }

                .style_label{
                        font-size: 15px;
                        font-weight: bold;
                        padding: 10px 0;
                        text-transform: uppercase;
                }

                .btnModification{ .clearfix; margin-top : 10px;}

                li{
                        padding-bottom:40px;
                }

        }

        #vrac_visualisation{
                .legende{
                        div{
                            display:block;
                            margin:15px 0 0;
                        }
                }
        }

        #btn_export_csv{
                .btn_majeur; 
                .btn_excel;
                float:right;
                margin-top:15px;
        }

}


#contrats_similaires_list .statut {
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  height:20px;
  width:20px;
  display:inline-block;
  vertical-align:middle;
}

#contrats_similaires_list li 
{
    line-height: 24px;
    .statut
    {
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        border-radius:50%;
        height:20px;
        width:20px;
        display:inline-block;
        vertical-align:middle;
    }
    .statut_solde { background-color:#a2df46; }
    .statut_non-solde { background-color:#faa804; }
    .statut_annule { background-color:#e42c2c; }
}

.legende{
        margin: 15px 0;

        .actif a .legende_type_texte{ text-decoration:underline; }

        div{
                display:inline-block;
                height:25px;
                margin-bottom:10px;
                width:100px;

                .legende_type_texte{
                        margin: 7px 0 0 10px;
                        position: absolute;
                }

                .statut{
                        .border-radius(50%);
                        .box-dimensions(20px, 20px);
                        display: inline-block;
                        vertical-align:middle;
                }

                .statut_solde{ background-color:#a2df46; }

                .statut_non-solde{ background-color:#faa804; }

                .statut_annule{ background-color:#e42c2c; }

                .legende_statut_texte{
                        margin: 2px 0 0 10px;
                        position: absolute;
                }

        }
}



.bloc_col{

        .legende{
                .actif{text-decoration:underline;}

                margin: 15px 0;

                div{
                        display:inline-block;
                        height:25px;
                        margin-bottom:0px;
                        width:108px;

                        
                        .statut{
                                .box-dimensions(15px, 15px);
                        }

                        .type_raisins,
                        .type_mouts,
                        .type_vin_vrac,
                        .type_vin_bouteille
                        {
                                margin-bottom:5px;
                        }

                }
        }

}