/**
 * Fichier : contacts.less
 * Description : styles spécifiques à la rubrique contacts
 * Auteur : Mikaël Guillin - mguillin[at]actualys.com
 * Version : 1.0.0
 ******************************************/


/**
* Styles généraux de contacts
******************************************/

#contacts
{

	#enseignes_list
	{
		padding-left: 146px;
	}
	
	.form_btn 
	{ 
		margin: 28px 0;
		.btn_valider { margin: 0 0 0 470px; }
	}

	.form_ligne 
	{
		.clearfix;
		margin: 13px 0; 
	}
	
	.form_section
	{
		.border(@couleur-a9);
		.champ_long { width: 425px; }
		margin: 0 0 35px 0;
		
		.btn_ajouter_ligne_template
		{
			font-size: 12px;
			padding: 0 0 0 30px;
			margin: 15px 0 0 0;
			position: relative;
			text-decoration: underline;

			&:before
			{
				.pos-abs(-2px, auto, auto, 0);
				background: url("../images/pictos/pi_ajout.png") no-repeat;
				content: "";
				height: 21px;
				width: 20px;
			}
		}
		
		.checkbox_list,
		.radio_list
		{
			clearfix;
			float: left;

			label { width: auto; }

			li
			{
				float: left;
				margin: 0;
				width: auto;
			}
		}

		.form_colonne { float: left; }

		.form_contenu { padding: 15px 30px 23px 10px; }
		
		h3
		{
			background: @couleur-a5;
			cursor: pointer;
			margin: 0;
			padding: 7px 0 7px 37px;
			font-size: 14px;
			font-weight: bold;
			position: relative;
			text-decoration: underline;
			text-transform: none;
				
			&:before
			{
				.pos-abs(6px, auto, auto, 10px);
				background: url("../images/pictos/fleche_col_groupe_ouvert.png") no-repeat;
				content: "";
				height: 15px;
				width: 15px;
			}
		}

		label
		{
			display: inline-block;
			font-size: 14px;
			font-weight: bold;
		}

		.label_court { width: 112px; }

		legend
		{
			font-size: 16px;
			font-weight: normal;
			margin: 15px 0;
		}

		select { width: 113px; }

		.btn_supprimer_ligne_template
		{
			background: url("../images/pictos/pi_suppression.png") no-repeat;
			display: inline-block;
			height: 21px;
			margin: 0 0 0 15px;
			text-indent: -9999px;
			width: 20px;
		}

		textarea
		{
			height: 90px;
			width: 618px;
		}
	}

	h2
	{
		.majuscules;
		font-size: 20px;
		font-weight: bold;
		margin: 40px 0 0 0;
		padding-left: 42px;
		position: relative;

		&:before 
		{ content: ""; }
	}
}

#creation_societe,
#visu_societe
{
	h2
	{
		&:before
		{
			.pos-abs(-10px, auto, auto, 0);
			background: url("../images/pictos/societe.png") no-repeat;
			height: 36px;
			width: 32px;
		}
	}
}

#nouveau_contact,
#nouveau_etablissement
{
	h2 { margin-bottom: 10px; }

	& > h3
	{
		font-size: 16px;
		font-weight: bold;
	}
}

#detail_etablissement,
#detail_societe
{

	.conteneur_societe,
	.conteneur_enseigne
	{
		/* Cible la deuxième colonne */
		.form_colonne:first-child + .form_colonne { padding-left: 0; }
	}
	
	/* Cible la deuxième colonne */
	.form_colonne:first-child + .form_colonne  { padding: 0 0 0 35px; }
}

/**
* Visu société
******************************************/
	 
#visu_societe
{
	.btn_haut
	{
		background: @couleur-a5;
		margin: 10px 0;
		padding: 7px 0 7px 10px;
		
		.btn_majeur
		{
			background-position: 0 -182px;
			color: @couleur-a1;
			padding-left: 40px;

			&:before
			{
				.pos-abs(4px, auto, auto, 8px);
				background: url("../images/boutons/btn_etablissement.png") no-repeat;
				content: "";
				height: 16px;
				width: 23px;
			}
		}
		
		.btn_majeur:first-child
		{ 
			background-position: 0 -156px;
			margin-right: 16px;
			padding-left: 43px;

			&:before
			{
				.pos-abs(3px, auto, auto, 12px);
				background: url("../images/boutons/btn_contact.png") no-repeat;
				content: "";
				height: 19px;
				width: 17px;
			}
		}
	}
	
	/* Cible la deuxième colonne */
	.form_colonne:first-child + .form_colonne
	{
		label { width: auto; }
		label:first-child { width: 82px; } 
	}
	
	label { width: 145px; }
}

/**
* Détail contact
******************************************/

#detail_contact
{
	.form_ligne:first-child
	{
		/* Cible la deuxième colonne */
		.form_colonne:first-child + .form_colonne
		{
			label 
			{ 
				margin: 0 0 0 241px; 
				width: 120px; 
			}
			
			select { width: 69px; }
		}
	}

	label[for="detail_contact_civilite"] { width: 65px; }
}

/**
* Détail etablissement
******************************************/

#detail_etablissement
{

	#detail_etablissement_region_viticole { width: 134px; }
	
	/* Cible la deuxième colonne */
	.form_colonne:first-child + .form_colonne
	{
		padding: 0 0 0 84px;
	}
}


/**
 * Coordonnées de la société et détail établissement
 ******************************************/

#coordonnees_societe,
#coordonnees_etablissement,
#detail_etablissement,
{
   label { width: 190px; }
}


#coordonnees_etablissement,
#coordonnees_contact
{
	.form_ligne
	{
		.meme_adresse
		{
			font-weight: normal;
			width: 250px;
		}
	}
}

#coordonnees_etablissement
{
	label
	{
		&[for="compte_modification_adresse_societe"]
		{
			float: left;
		}
	}
}


/**
* Fiche société
******************************************/

#contacts_actions
{
	li 
	{ 
		text-align: center;

		button
		{
			.btn_icone;
			width: 214px;
		}

		.nouvelle_recherche
		{
			&:after
			{
				background: url("../images/pictos/pi_recherche.png") no-repeat;
				top: 7px;
			}
		}

		.nouvelle_societe
		{
			margin: 0 0 10px 0;
			
			&:after
			{
				background: url("../images/pictos/pi_societe.png") no-repeat;
				top: 3px;
			}
		}
	}
}

#detail_societe
{

	.form_contenu
	{
		li
		{
			margin: 13px 0;

			.intitule
			{
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				width: 190px;
			}
		}
	}

	.infos_societe
	{
		clearfix;
		padding: 8px 0;

		.btn_modifier { margin: 0 0 0 270px; }

		p
		{
			float: left;
			font-style: italic;
		}
	}

	label 
	{ 
		width: 148px;

		&[for="societe_modification_statut"],
		&[for="societe_modification_cooperative"],
		&[for="societe_modification_type_numero_compte"]
		{
			float: left;
		}
	}

	/* Cible la deuxième colonne */
	.form_colonne:first-child + .form_colonne
	{
		label
		{
			width: auto;
		}
	}
}


#nouveau_contact
{

	.form_section
	{
		.form_contenu { background: @couleur-d8; }

		h3 { background: @couleur-d9; }
	}

	h2
	{	
		&:before
		{
			.pos-abs(-10px, auto, auto, 0);
			background: url("../images/pictos/contact.png") no-repeat;
			height: 35px;
			width: 30px;
		}
	}

	label { width: 187px; }	
}

/**
* Nouvel établissement
******************************************/

#nouveau_etablissement
{
	h2
	{
		&:before
		{
			.pos-abs(-2px, auto, auto, 0);
			background: url("../images/pictos/etablissement.png") no-repeat;
			height: 24px;
			width: 36px;
		}
	}
}

