/**
 * Fichier : contrats.less
 * Description : styles spécifiques à la rubrique contrats
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/


/**
 * Etapes de la saisie
 ******************************************/
#rail_etapes
{
	.clearfix;
	.majuscules;
	font-size: 14px;
	margin: 0 0 25px;
	line-height: 47px;
	list-style: none;
	left: -10px;
	position: relative;

	li
	{
		background: @couleur-a5;
		border: solid #d5d4d4;
		border-width: 1px 0;
		float: left;
		
		a { .non-souligne(none); }
		
		& > *
		{
			display: block;
			padding: 0 18px 0 33px;
			position: relative;
			
			span
			{
				.border-radius(50%);
				.box-dimensions(22px, 22px);
				.box-shadow(1px 1px 4px rgba(0, 0, 0, 0.2) inset);
				
				background: @couleur-a5;
				display: inline-block;
				line-height: 22px;
				font-weight: bold;
				margin: 0 5px 0 0;
				text-align: center;
			}
			
			&:after
			{
				.pos-abs(0, -21px);
				.box-dimensions(21px, 47px);
				background: url(../images/fonds/bg_rail_etapes.png) 0 0 no-repeat;
				content: '';
			}
		}
		
		&:first-child
		{
			border-left-width: 1px;
			
			& > * { padding-left: 10px; }
		}
		
		&.actif
		{
			background: #b83f41 url(../images/fonds/bg_rail_etapes.png) 0 -143px repeat-x;
			border-color: #b83f41;
			color: @couleur-a1;
			
			& > *
			{
				span { background: #d35a5c; }
				
				&:after { background-position: 0 -47px; }
			}
		}
		
		&.passe
		{
			background: #f3d371;
			border-color: #dcbc5b;
			color: #886702;
			
			& > *
			{
				color: #886702;
				
				span
				{
					background: #f3d371;
				}
				
				&:after
				{
					background-position: 0 -94px;
				}
			}
		}
		
		strong { font-weight: normal; }
	}	
}



/**
 * Colonne
 ******************************************/

/* Progression de la saisie */
#contrat_progression
{
	p
	{
		font-weight: bold;
		margin: 0 0 5px;
		
		strong
		{
			font-size: 22px;
			margin: 0 5px 0 0;
		}
	}
	
	#barre_progression
	{
		.border-radius(5px);
		.box-shadow(0px 1px 5px #9e9e9e inset);
		background: #f0efef;
		
		span
		{
			.border-radius(5px);
			background: url(../images/fonds/bg_barre_progression.png) 0 0 repeat-x;
			display: block;
			height: 17px;
			padding: 0 5px;
		}
	}
}

/* Aide à la saisie */
#contrat_aide
{
	
	ul
	{
		font-weight: bold;
		line-height: 21px;
		
		li
		{
			margin: 8px 0;
			position: relative;
			
			a
			{
				color: @couleur-a4;
				display: inline-block;
				padding: 0 0 0 28px;
				
				&:before
				{
					.box-dimensions(21px, 21px);
					.sprite-pictos-actions;
					.pos-abs(0, auto, auto, 0);
					content: '';
				}
			}
			
			&.raccourcis
			{
				a:before { background-position: 0 -42px; }
			}
			
			&.assistance
			{
				a:before { background-position: 0 -63px; }
			}
			
			&.contact
			{
				a:before { background-position: 0 -84px; }
			}
		}
	}
}

/* Actions */
#contrat_actions_fin
{
	ul
	{
		font-size: 10px;
		
		li
		{
			margin: 10px 0;
			
			*
			{
				display: block;
			}
		}
	}
}

/* Information sur les contacts */
#infos_contact
{
	.contenu > ul
	{
		line-height: 20px;
		
		li
		{
			position: relative;
			
			a { display: inline-block; }
		}
		
		& > li
		{
			padding: 0 0 15px;
			
			& > a 
			{
				font-weight: bold;
				padding: 0 0 0 22px;
				
				&:before
				{
					.box-dimensions(0, 0);
					.pos-abs(3px, auto, auto, 6px);
					content: '';
					border-style: solid;
					border-width: 7px 0 7px 8px;
					border-color: transparent transparent transparent @couleur-a3;
				}
			}
			
			&.ouvert > a:before
			{
				border-width: 8px 7px 0;
				border-color: @couleur-a3 transparent transparent;
				top: 5px;
				left: 0;
			}
			
			ul
			{
				padding: 0 0 0 22px;
				
				li
				{
					margin: 10px 0;
					padding: 0 0 0 28px;
					
					&:before
					{
						.box-dimensions(20px, 20px);
						.sprite-pictos-actions;
						.pos-abs(0, auto, auto, 0);
						content: '';
					}
					
					&.nom
					{
						&:before { background-position: 0 -105px; }
					}
					
					&.tel
					{
						&:before { background-position: 0 -125px; }
					}
					
					&.fax
					{
						&:before { background-position: 0 -145px; }
					}
					
					&.email
					{
						&:before { background-position: 0 -165px; }
						
						a
						{
							.souligne;
							color: #e65658;
						}
					}
				}
			}
		}
	}
}