/**
 * Fichier : global.less
 * Description : styles génériques du site
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/


/**
 * Reset
 ******************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video
{
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 

html, body { height: 100%; }
a img, fieldset { border: 0; }
a *, label, button, input[type=image], input[type=button], input[type=submit] { cursor: pointer; }
ol { list-style-position: inside; }
ul { list-style: none; }
strong { font-weight: bold; }
em { font-style: italic; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
hr { border: 0; border-top: 1px solid #ccc; display: block; height: 1px; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }


/**
 * Eléments génériques
 ******************************************/
html
{
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
}

body
{
	.verdana;
	background: @couleur-b1;
	color: @couleur-b3;
	font-size: 62.5%;
	line-height: 1.4;
}

a
{
	color: @couleur-a1;
	.non-souligne;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

textarea, input, select { .verdana; color: @couleur-b3; font-size: 1em; }

input[type=search] { -webkit-appearance: none; }
input[type="radio"] { height: 14px; vertical-align: text-bottom; width: 14px; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

button { background: 0; border: 0; .arial; margin: 0; outline: 0; overflow: visible; padding: 0; }
button::-moz-focus-inner { border: 0; padding: 0; }
button span { position: relative; }
.ielt9 button span { margin: -1px 0 -2px; }

pre, code, kbd, samp { font-family: monospace, sans-serif; }



/**
 * Classes génériques
 ******************************************/
.gabarit(@difference: 0px)
{
	margin: 0 auto;
	width: @largeur-site - @difference;
}
 
/* Textes */
.majuscules { text-transform: uppercase; }

.souligne(@hover: none)
{
	text-decoration: underline;
	&:hover, &:focus { text-decoration: @hover; }
}

.non-souligne(@hover: underline)
{
	text-decoration: none;
	&:hover, &:focus { text-decoration: @hover; }
}
 
/* Sprites */
.sprite-global(@position: 0 0)
{
	background: url(../images/sprites/sprite_global.png) @position no-repeat;
}

.sprite-sep-h(@position: 0 0)
{
	background: url(../images/sprites/sprite_sep_h.png) @position no-repeat;
}

.sprite-sep-v(@position: 0 0)
{
	background: url(../images/sprites/sprite_sep_v.png) @position no-repeat;
}

.sprite-fiche-marque(@position: 0 0)
{
	background: url(../images/sprites/sprite_fiche_marque.png) @position no-repeat;
}


/* Boutons / Liens */
.btn_majeur
{
	.font-size-em(11);
	.line-height(20, 11);
	.sprite-global(right 0);
	.border(@couleur-a5);
	.non-souligne(none);
	color: @couleur-a1;
	display: inline-block;
	padding: 0 25px 0 7px;
	
	button& { height: 22px; }
	
	&:hover, &:focus
	{
		border-color: @couleur-a1;
		background-color: @couleur-a1;
		background-position: right -20px;
		color: @couleur-b1;
	}
	
	&.btn_majeur_2
	{
		color: @couleur-b1;
	}
}


/* Divers */
.ir(@width: 1px, @height: 1px)
{
	height: @height;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: @width;
}
 
.invisible
{    
	clip: rect(1px 1px 1px 1px); 
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.masque
{
    background: 0 !important;
    border: 0 !important;
    display: block !important;
    float: none !important;
    height: 1px !important;
    list-style: none !important;
    margin: -1px 0 0 -1px !important;
    position: absolute !important;
    overflow: hidden !important;
    padding: 0 !important;
    width: 1px !important;
}

.clear { clear: both; }
.center { text-align: center; }
.f_left { display: inline; float: left; }
.f_right { display: inline; float: right; }

.z1 { zoom: 1; }

.clearfix
{
	.z1;
	
	min-height: 1px;
	
	&:before,
	&:after
	{
		content: "\0020";
		display: block;
		font-size: 0;
		height: 0;
		visibility: hidden; 
	}
	
	&:after { clear: both; }
}

.pie { behavior: url(../pie.htc); }


.inline-block-ie
{
	display: inline-block;
	
	.ielt8 &
	{	
		display: inline;
		.z1;
	}
}

/* Messages d'erreur */
.messages_erreur
{
}

/* Pagination Slider */
.pagination_prslider
{
	li
	{
		.inline-block-ie;
		margin: 0 2px;
		
		a
		{
			.border(@couleur-b1);
			.ir(6px, 6px);
			background: @couleur-b1;
			display: inline-block;
		}
		
		&.actif a,
		a:hover, a:focus { background: @couleur-a1; }
	}
}


/**
 * Message IE6
 ******************************************/
#message_ie6
{
	background: #feefda;
	border: solid #f7941d;
	border-width: 1px 0;
	margin: 0 0 15px;
	
	.contenu
	{
		.gabarit(70);
		background: url(../images/fonds/bg_message_ie6.png) 0 center no-repeat;
		height: 50px;
		padding: 10px 0 10px 70px;
	}
	
	p
	{
		font-size: 12px;
		strong
		{
			font-size: 16px;
			display: block;
			margin: 0 0 5px;
		}
	}
}
			
/**
 * Structure générique
 ******************************************/
#header
{
	.clearfix;
	.gabarit;
	padding: 13px 0 0;
	position: relative;
	z-index: 1000;
}

#global
{
	background: @couleur-b5 url(../images/fonds/bg_global.png) 0 0 repeat-x;
	
	.habillage
	{
		.clearfix;
		
		background: url(../images/fonds/bg_global_habillage.png) center 0 no-repeat;
		padding: 0 0 80px;
	}
}


#contenu
{
	.clearfix;
	.gabarit;
	.font-size-em(11);
}

#principal
{
}

#colonne
{
}

#footer
{
}

/**
 * Langues du site
 ******************************************/
#langues_site
{
	background-color: @couleur-b2;

	ul
	{
		.gabarit;
		.inline-block-spacing;
		line-height: 1.2;
		padding: 4px 0;
		text-align: right;
		
		li
		{
			.inline-block-ie;
			.inline-block-spacing(0);
			border-right: 1px dotted @couleur-b4;
			margin: 0 10px 0 0;
			padding: 0 10px 0 0;

			a
			{
				color: @couleur-b4;
				display: inline-block;

				&:hover, &:focus { color: @couleur-b3; }
			}

			&.es 
			{
				border-right-style: solid;
				
				a
				{
					.sprite-global(-391px -98px);
					padding: 0 0 0 14px;
					&:hover, &:focus {  }
				}
			}

			&:last-child
			{
				border: 0;
				padding: 0;
			}
		}
	}
}

/**
 * Header
 ******************************************/
#header
{
	/* Logo */
	#logo
	{
		.img-block;
		float: left;
		padding: 0 0 0 10px;
	}
	
	#header_navigations
	{
		float: right;
	}

	/* Cours de la bourse */
	#cours_bourse
	{
		.font-size-em(11);
		.line-height(13,11);
		color: @couleur-b4;
		float: left;
		padding: 0 0 0 15px;

		a
		{
			.sprite-global(-120px 0);
			.non-souligne(none);
			border-right: 1px dotted @couleur-b4;
			color: @couleur-a1;
			display: inline-block;
			font-weight: bold;
			margin: 0 7px 0 0;
			padding: 0 10px 0 26px;
			
			&:hover, &:focus
			{
				background-position: -104px -20px;
				color: @couleur-a3;
			}
		}
	}

	/* Navigations */
	nav
	{
		ul
		{
			& > li
			{
				& > ul, & > .sous_menu
				{
					position: absolute;
					left: -999em;
				}
				
				&:hover,
				&.hover
				{
					position: relative;
					
					& > ul, & > .sous_menu
					{
						left: -10px;
					}
				}
			}
		}
	}

	/* Navigation secondaire */
	#navigation_secondaire
	{
		float: right;
		
		& > ul
		{
			& > li 
			{
				.sprite-sep-v(right -18px);
				float: left;
				margin: 0 15px 0 0;
				

				& > a
				{
					.din-medium;
					.font-size-em(13);
					.line-height(15,13);
					.majuscules;
					.non-souligne(none);
					color: @couleur-b3;
					float: left;
					padding: 0 15px 0 0;
					
					&:hover, &:focus { color: @couleur-a3; }
				}

				ul
				{
					.box-shadow(0 6px 10px #ddd);
					.font-size-em(11);
					background: @couleur-b1;
					padding: 15px 10px 5px 20px;
					top: 15px;
					width: 150px;
					
					li { margin: 5px 0; }
				}
				
				&:hover,
				&.hover
				{
					& > a
					{
						color: @couleur-a3;
					}
					
					ul {  }
				}
				
				&:last-child
				{
					.clear-box-right;
					background: 0;
					
					&.hover
					{
						ul
						{
							left: auto;
							right: 0;
						}
					}
				}
			}
		}
	}

	/* Navigation principale */
	#navigation_principale
	{
		.clearfix;
		clear: both;
		padding: 20px 0 0;
		
		& > ul
		{
			& > li 
			{
				float: left;

				& > a
				{
					.dincond-medium;
					.font-size-em(18);
					.line-height(20,18);
					.majuscules;
					.non-souligne(none);
					.sprite-sep-v(right -37px);
					float: left;
					padding: 10px 15px 20px;
					
					&:hover, &:focus
					{
						color: @couleur-a3;
					}
					
					span
					{
						.sprite-global;
						.ir(28px, 20px);
						display: block;
					}
				}
				
				.sous_menu
				{
					background: @couleur-a1;
					color: @couleur-b1;
					min-height: @hauteur-carrousel-accueil;
					padding: 0 25px;
					top: 50px;
					width: 220px;
					
					p
					{
						.dincond-medium;
						.font-size-em(24);
						.sprite-sep-h(-680px bottom);
						line-height: 1.2;
						margin: 0 0 15px;
						padding: 15px 0;
					}
					
					ul
					{
						.font-size-em(11);
						padding: 0 0 20px;

						li
						{
							margin: 5px 0;
							a { color: @couleur-a4; }
						}
					}
					
					&:before
					{
						.box-content(0,0);
						.pos-abs(-7px, auto, auto, 30px);
						content: '';
						border: transparent solid;
						border-width: 0 7px 7px;
						border-bottom-color: @couleur-a1;
					}
				}
				
				&:hover, &.hover
				{
					& > a
					{
						color: @couleur-a3;
					}
				}
				
				&:last-child
				{
					& > a { background: 0; }
				}
				
				&#header_recherche
				{
					& > a
					{
						span { background-position: 0 -79px; }
						&:hover span, &:focus span { background-position: 0 -99px; } 
					}
					
					&:hover, &.hover
					{
						& > a
						{
							span { background-position: 0 -99px; } 
						}
					}
					
					.sous_menu
					{
						min-height: 1px;
						padding: 6px;
						width: 320px;
						
						form
						{
							background: @couleur-b1;
							padding: 15px 20px;
							
							input
							{
								vertical-align: middle;
								
								&[type=text]
								{
									.newbaskerville-italic;
									.font-size-em(25);
									background: @couleur-b1;
									.border(@couleur-b1);
									color: @couleur-a3;
									margin: 0 10px;
									padding: 2px 4px;
									width: 210px;
									
									&:hover, &:focus
									{
										border-color: @couleur-a3;
									}
								}
							}
						}
					}
				}
				
				&#header_actions
				{
					& > a
					{
						span { background-position: -28px -79px; }
						&:hover span, &:focus span { background-position: -28px -99px; } 
					}
					
					&:hover, &.hover
					{
						& > a
						{
							span { background-position: -28px -99px; } 
						}
					}
					
					.sous_menu
					{
						@largeur-pictos: 28px;
						
						.inline-block-spacing;
						min-height: 1px;
						padding: 20px 0;				
						width: (@largeur-pictos + 20*2) * 4 + 3px;
						
						li
						{
							.inline-block-ie;
							.inline-block-spacing(0);
							border-right: 1px dotted #4e7194;
							float: left;
							margin: 0;
							padding: 0 20px;
							
							&:last-child { border: 0; }
							
							a
							{
								.sprite-global;
								.ir(@largeur-pictos, 23px);
								display: inline-block;
							}
							
							&.twitter a { background-position: 0 -56px; }
							&.facebook a { background-position: -@largeur-pictos -56px; }
							&.email a { background-position: -@largeur-pictos*2 -56px; }
							&.imprimer a { background-position: -@largeur-pictos*3 -56px; }
						}
					}
				}
				
				&.dernier,
				&#header_recherche,
				&#header_actions
				{
					
					&:hover, &.hover
					{
						.sous_menu
						{
							left: auto;
							right: 0;
							
							&:before
							{
								left: auto;
								right: 20px;
							}
						}
					}
				}
			}
		}
	}
}


/**
 * Contenu
 ******************************************/
#contenu
{
	/* Bouton majeur */
	.btn_majeur
	{
		.font-size-em(11,11);
	}
}

/**
 * Navigation contextuelle
 ******************************************/
#navigation_rub
{
	padding: 15px 12px 0 5px;
	
	a
	{
		.non-souligne(none);
		display: inline-block;
		padding: 5px 0 5px 20px;
	}
	
	a:hover, a:focus,
	li.actif > a
	{
		color: @couleur-a7;
	}
	
	& > ul
	{
		/* Premier niveau */
		& > li
		{
			.border-bottom(@couleur-b6);
			
			& > a
			{
				display: block;
			}
		}
	}
	
	li.sous_menu
	{	
		position: relative;
		zoom: 1;
		
		& > a
		{
			background: url(../images/puces/pu_navigation_rub.png) -36px 0 no-repeat;
		}
		
		& > a:hover,
		& > a:focus,
		&.actif > a
		{
			background-position: -24px -25px;
		}
		
		&.ouvert > a
		{
			background-position: -12px -50px;
			
			&:hover,
			&:focus { background-position: 0 -75px; }
		}
		
		&.ouvert.actif > a { background-position: 0 -75px; }
	}
	
	ul ul { padding: 0 0 0 20px; }
	
	.action
	{
		.box-dimensions(20px, 25px);
		.pos-abs(0, auto, auto, 0);
	}
}



/**
 * Footer
 ******************************************/
#footer
{
	/* Mentions */
	#footer_principal
	{
		position: relative;
		
		.bandeau
		{
			.pos-abs(0, auto, 0, 0);
			background: @couleur-b2;
			height: 100%;
			width: 50%;
		}
		
		.contenu
		{
			.clearfix;
			.gabarit;
			position: relative;
			
			
			/* Liens / Navigation */
			#footer_liens
			{
				/*.grid(4);*/
				background: @couleur-b2;
				float: left;
				padding: 20px 0;
				width: @largeur-site - 260px - 38px;
				
				/* Réseaux sociaux */
				p.reseaux_sociaux
				{
					.dincond-medium;
					.font-size-em(27);
					.sprite-sep-h(0 bottom);
					color: @couleur-a1;
					line-height: 1;
					margin: 0 0 25px;
					padding: 0 0 15px;
					
					@icone-dimensions: 28px;
					
					a
					{
						.sprite-global;
						.border(@couleur-a5);
						.font-size-em(10,27);
						.ir(@icone-dimensions, @icone-dimensions);
						display: inline-block;
						margin: 0 0 0 5px;
						vertical-align: middle;
						
						&:hover, &:focus { border-color: @couleur-a1; }
						
						&.twitter
						{
							background-position: 0 0;
							&:hover, &:focus { background-position: 0 -@icone-dimensions; }
						}
						
						&.facebook
						{
							background-position: -@icone-dimensions 0;
							&:hover, &:focus { background-position: -@icone-dimensions -@icone-dimensions; }
						}
					}
				}
				
				/* Plan du site */
				nav
				{
					& > ul
					{
						.clearfix;
						
						& > li
						{
							.grid(1);
							float: left;
							
							& > a
							{
								.dincond-medium;
								.font-size-em(17);
								.majuscules;
							}
							
							ul
							{
								.font-size-em(11);
								margin: 5px 0 0;
								padding: 0 10px 0 0;
								
								li
								{
									a
									{
										.sprite-global(-397px -77px);
										color: @couleur-a3;
										display: inline-block;
										padding: 0 0 0 10px;
									}
								}
							}
						}
					}
				}
			}
			
			/* Informations */
			#footer_infos
			{
				/*.grid(2);*/
				.font-size-em(11);
				background: @couleur-b1;
				color: @couleur-a4;
				float: left;
				padding: 20px 10px 20px 28px;
				width: 260px;
				
				h3
				{
					.dincond-medium;
					.font-size-em(17,11);
					.majuscules;
					color: @couleur-a3;
					margin: 0 0 5px;
				}
				
				a, input { color: @couleur-a4; }
				
				#dernieres_publications
				{
					margin: 0 0 15px;
					
					ul
					{
						padding: 0 0 0 5px;
						
						li
						{
							a
							{
								.sprite-global(-385px -116px);
								padding: 0 0 0 15px;
							}
						}
					}
				}
				
				#inscription_newsletter
				{
					label
					{
						display: block;
						margin: 0 0 10px;
					}
					
					input
					{
						.border(#b7cce3);
						.box-dimensions(145px,20px);
						.sprite-global(5px -119px);
						background-color: @couleur-b1;
						padding: 0 5px 0 25px;
						vertical-align: middle;
						
						&:hover, &:focus
						{
							border-color: @couleur-a1;
							color: @couleur-a1;
						}
					}
					
					button
					{
						.font-size-em(11,11);
						background-color: @couleur-a3;
						background-position: right -20px;
						border-color: @couleur-a3;
						color: @couleur-b1;
						vertical-align: middle;
						
						&:hover, &:focus
						{
							border-color: @couleur-a1;
							background-color: @couleur-a1;
							color: @couleur-b1;
						}
					}
					
					p.mentions
					{
						margin: 15px 0 0;
						a { .souligne; }
					}
				}
			}
		}
	}
	
	/* Mentions */
	#footer_mentions
	{
		background: @couleur-a1;
		color: @couleur-b1;
		padding: 5px 0;
		
		.contenu
		{
			.gabarit(20px);
			.inline-block-spacing;
			display: table;
			& > *
			{
				.inline-block-spacing(0);
				.inline-block-ie;
				vertical-align: middle;
			}
		}
		
		p
		{
			display: table-cell;
			width: 27%;
		}
		
		p.abus_alcool { text-align: right; }
	
		ul
		{
			display: table-cell;
			text-align: center;
			width: 46%;
			
			li
			{
				display: inline;
				margin: 0 3px 0 0;
				
				a { margin: 0 5px 0 0; }
			}
		}
		
		a { color: @couleur-b1; }
	}
}


/**
 * Fancybox
 ******************************************/
.fancybox_contenu
{
}


/**
 * jScrollPane
 ******************************************/
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	border-left: 1px solid #fff;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
	left: -2px;
}

.jspDrag
{
	background: @couleur-a1;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 4px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}