/**
 * Fichier : mobile.less
 * Description : styles spécifiques aux mobiles
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

@media screen and (max-width: @largeur-tablette)
{

.visible_mob { display: block !important; }
.hidden_mob { display: none !important; }

/* ======================================================= */
/* STRUCTURE GENERIQUE */
/* ======================================================= */

#header .contenu,
#contenu,
#footer
{
	width: auto;
}

/**
 * Header
 ******************************************/
#header
{
	#navigation
	{
		left: -15px;
		right: -15px;
	}	
}

/**
 * Contenu
 ******************************************/
#contenu { border-radius: 0; }

/**
 * Colonne
 ******************************************/
#btn_colonne { display: none !important; }

#btn_colonne_mobile
{
	background: #cacaca;
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	height: 45px;
	margin-left: -45px;
	position: relative;

	i { display: inline-block; }

	&:before
	{
		.pos-abs(9px, auto, auto, 11px);
		.triangle-l(24px, 16px, #FFF);
	}
}

#colonne
{
	.pos-abs(0, -75%, 0);
	background: #cccacb;
	display: block !important;
	overflow: visible !important;
	padding-top: 0;
	transition: all .4s;
	-webkit-transition: all .4s;
	width: 75%;
	z-index: 10;

	&.ouvert
	{
		right: 0;

		#btn_colonne_mobile:before
		{
			.triangle-r(24px, 16px, #FFF);
		}
	}

	.bloc_col
	{
		display: block;
		width: auto;
	}
}

/* ======================================================= */
/* ETAPES */
/* ======================================================= */
#contenu_etape
{
	#recherche_operateur
	{
		.ui-autocomplete-input
		{
			margin-right: 0;
			margin-bottom: 10px;
			width: 100%;
		}

		#btn_rechercher
		{
			display: block;
			width: 100%;
		}
	}

	#vrac_marche
	{
		#type_transaction .radio_list
		{
			li
			{
				float: none;
				width: auto;

				+ li { margin: 25px 0 0; }

				label[for$="VIN_BOUTEILLE"]
				{
					left: 6px;
					padding-left: 24px;
				}
			}
		}
	}
}

/* ======================================================= */
/* RAIL D'ETAPES */
/* ======================================================= */
#rail_etapes
{
	li
	{
		display: block;
		width: auto;

		+ li { border-top: 1px solid #FFF; }

		&:first-child > * { padding-left: 33px; }
	}
}


/* ======================================================= */
/* FORMULAIRES */
/* ======================================================= */
#vendeur_infos .bloc_form,
#conditions_recapitulatif .bloc_form,
#marche_recapitulatif .bloc_form,
#soussigne_recapitulatif .bloc_form,
#vrac_marche_prixVariable .bloc_form,
#vrac_soussigne .bloc_form,
#date_campagne.ligne_form,
#date_signature.ligne_form
{
	label,
	.infos { display: block; }

	label { margin: 0 0 5px; }

	.infos { margin: 10px 0 0 !important; }
}

#contenu_etape #vrac_soussigne .ligne_form { height: auto; }

#vrac_soussigne, 
#vrac_marche,
#vrac_condition, 
#vrac_validation, 
#vrac_recapitulatif
{
	.col
	{
		display: block;
		float: none;
		width: auto;
	}
}

/* ======================================================= */
/* VRAC */
/* ======================================================= */
#table_contrats
{
	border: 0;
	border-collapse: collapse;

	&, tbody, th, td, tr { display: block; }

	thead { display: none; }

	tr 
	{
		border: 0; 
		margin: 0 0 20px; 
	}

	td 
	{
		border: 1px solid #e3e2e2;
		height: auto;
		position: relative;
		padding-left: 210px !important;

		&:before
		{
			background: #ecebeb;
			font-size: 13px;
			font-weight: bold;
			padding: 5px;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			text-align: center;
			width: 150px;
		}

		& + td { border-top: 0; }

		&.type:before { content: 'Type'; }

		&.num_contrat:before { content: 'Numéro de contrat'; }

		&.date:before { content: 'Date'; }

		&.actions:before { content: 'Actions'; }

		&.statut:before { content: 'Statut'; }

		&.soussigne 
		{ 
			text-align: center; 

			&:before { content: 'Soussignés'; }
		}

		&.produit:before { content: 'Produit'; }

		&.volume:before { content: 'Vol. enlevé. / Vol. prop.'; }

	}

}

#principal .stats_contrats
{
	.actions_2,
	.actions_3
	{
		float: none; 
		width: auto;
	}

	.stats_contrats_a_signer
	{
		h2:before { left: 8px; }
	}
}

#principal .filtres_historique
{
	label
	{
		display: inline-block;
		width: 80px;
	}

	.campagne,
	.etablissement
	{ 
		float: none; 
		margin: 0 0 10px;
	}
}

}