#main {min-height: 400px;}

.form-group-xs .form-control, .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.form-group-xs {
    margin-bottom: 7px;
}

.list-group-item-xs {
    padding: 7px 10px;
}

.list-group-item-xs ul.list-unstyled {
    margin-bottom: 0;
}

.list-group-item-xs h4 {
    margin-top: 7px;
}

.panel-heading-xs {
    padding: 7px 10px;
}

.panel.inactive {
    cursor: not-allowed;
    opacity: 0.6;
}

table tr th.vertical-center, table tr td.vertical-center, table tr.vertical-center td, table th.vertical-center td {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.form-control[readonly].no-state, .form-control[disabled].no-state {
    opacity: inherit;
    background: inherit;
}

panel.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}