#main {min-height: 400px;}

.form-group-xs .form-control, .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.input-group-xs .input-group-addon {
    font-size: 12px;
    padding: 2px 5px;
    height: 22px;
}

.form-group-xs {
    margin-bottom: 7px;
}

.list-group-item-xs {
    padding: 7px 10px;
}

.list-group-item-xs ul.list-unstyled {
    margin-bottom: 0;
}

.list-group-item-xs h4 {
    margin-top: 7px;
}

.panel-heading-xs {
    padding: 7px 10px;
}

.panel.inactive {
    cursor: not-allowed;
    opacity: 0.6;
}

table tr th.vertical-center, table tr td.vertical-center, table tr.vertical-center td, table th.vertical-center td {
    vertical-align: middle;
}

.pointer {
    cursor: pointer;
}

.form-control[readonly].no-state, .form-control[disabled].no-state {
    opacity: inherit;
    background: inherit;
}

panel.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.versionner {
    outline: 1px dotted #ff0000 !important;
}

#col_saisies .col_active .btn-success:focus{
    background-color: #167216;
    border-color: #98fa98;
}
.select2-container {
	width: 100%;
}

.tooltip-inner {
  max-width: 500px;
}

.form-group .select2-container {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table;
  table-layout: fixed;
}

span.disabled, a.disabled {
    cursor: not-allowed !important;
}

.vrac_nom {
  display: inline-block;
  max-width: 250px;
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
  
.loader {
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #848c03;
  width: 25px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
