/**
 * SV 12
 ******************************************/
.sv12
{
    /* Numéro de SV 12 */
    #num_sv12
    {
        background: @couleur-a5;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        margin: 0 0 15px;
        
        span
        {
            display: inline-block;
            width: 200px;
        }
    }
    
    #negociant_infos
    {
        margin: 0 0 25px;
    }
    
    #btn_modifier_sv12
    {
        margin: 15px 0 0;
    }
    
    #contenu_etape
    {
        fieldset { margin: 25px 0 0; }
        
        /* Recherche SV 12 */
        .hamza_style
        {
            .volumes_vides { margin: 10px 0 0; }
        }
        
        /* Commentaire SV 12 */
        #commentaire_sv12
        {
            textarea { width: 100%; }
        }
    }
    
}