/**
 * Fichier : tablette.less
 * Description : styles spécifiques aux tablettes
 * Auteur : Hamza Iqbal - hiqbal[at]actualys.com
 * Version : 1.0.0
 ******************************************/

@media screen and (min-width: (@largeur-totale + 1))
{
	// Affiche la colonne pour les grands écrans
	#colonne
	{
		display: block !important;
		overflow: visible !important;
	}
}

@media screen and (max-width: (@largeur-totale))
{

.visible_tab { display: block !important; }
.hidden_tab { display: none !important; }

/* ======================================================= */
/* STRUCTURE GENERIQUE */
/* ======================================================= */

#header .contenu,
#contenu,
#footer
{
	width: @largeur-tablette;	
}

/**
 * Header
 ******************************************/
#header
{
	.box-shadow(none);
	padding: 15px 15px 0;

	#logo
	{
		float: left;
		text-align: left;
	}

	.conteneur_nav 
	{ 
		float: none;
		padding: 0;
		position: static;
		width: auto;
	}

	#navigation
	{
		background: #FFF;
		display: none;
		margin: 20px 0 0;
		position: absolute;
		top: 100%;
		left: -80px;
		right: -80px;
		line-height: 35px;
		z-index: 10;

		li, li a { display: block; }

		li 
		{ 
			background: none;
			border-bottom: 1px solid #dddcdc;
			border-top: 1px solid #dddcdc;
			float: none;

			& + li { border-top: 0; } 

			a
			{
				border-radius: 0;
				margin: 0;
				text-align: center;
			}
		}
	}

	.btn_menu { display: block; }

	.baseline,
	.conteneur_nav:before,
	#actions_utilsateur { display: none; }
}

#contenu
{
	background: @couleur-a1;
}

#principal
{
	width: auto;
	float: none;
	padding: 20px 10px 0;
}

/**
 * Colonne
 ******************************************/
#btn_colonne
{
	display: inline-block;
}

#colonne
{
	background: @couleur-a11;
	display: none;
	float: none;
	padding: 10px 0;
	width: auto;

	.bloc_col
	{
		display: inline-block;
		margin: 0 10px 20px;
		vertical-align: top;
		width: 345px;

		h2
		{
			left: 0;
			margin-right: 0;

			&:before { display: none; }
		}

		.contenu { padding: 10px 0 0; }
	}

	#action
	{
		padding: 0;
		.contenu { padding: 10px 0 0; }
	}

	#export_soussignes
	{
		.ligne_form label { width: 140px; }

		.btn_form { text-align: right; }
	}

	#recherche_legende
	{
		.legende
		{
			margin: 0;

			div { width: 165px; }
		}
	}
}


/* ======================================================= */
/* RAIL D'ETAPES */
/* ======================================================= */
#rail_etapes { margin: 0 0 25px; }

/* ======================================================= */
/* VRAC */
/* ======================================================= */
.bloc_form .col:first-child
{
	border-right: 0;
}

/*#vrac_soussigne,
#vrac_marche,
#vrac_condition,
#vrac_validation,
#vrac_recapitulatif,
#contenu_etape
{
	.col
	{
		display: block;
		float: none;
		width: auto;
	}
}*/

#vrac_soussigne
{
	input.ui-autocomplete-input { width: 100%; }
}

#principal .stats_contrats
{
	.actions_2 { width: 370px; }

	.actions_3 { width: 243px; }
}


}