cache/[^.]*
log/[^.]*
config/databases.yml
config/app.yml
config/app_*
web/vinsdeloire_dev.php
web/integration_dev.php
web/edi_dev.php
cache/
log/
web/psd
bin/config.inc
data/latex/*
data/upload/*
web/*.log
node_modules
package.json
web/generation/*
web/export/*
web/sf
web/statuts/xml
data/convention/pdf
