cache/[^.]*
log/[^.]*
config/databases.yml
config/app.yml
web/vinsdeloire_dev.php
web/integration_dev.php
web/edi_dev.php
cache/
log/
web/psd
bin/config.inc
data/latex/*
data/upload/*
data/drm_externe/
web/*.log
web/generation/*.pdf
