all:
  configuration:
    drm:
      details:
        export_detail:
          required: []
        vrac_detail:
          creation: false
      export_pays_debut: { "UE": "Union Européenne", "HORSUE": "Hors Union Européenne" }
      export_pays_fin: { "inconnu": "Inconnu" }
      vrac_multi_produit: false
      crd_only_suspendus: false
      aggregate_edi: [ ]
      declassement_igp: true
      mouvement_divisable_seuil: 0
      pdf_font_size: "8pt"
      xml_transfert_echec: "Le transfert de votre DRM a échoué:\n\nDESCRIPTION_ERREUR\n\nNous vous remercions de prendre contact avec l'IVSO soit par courriel à l'adresse assistance@france-sudouest.com soit par téléphone au numéro 05 61 73 87 06"
