all:
  instance: dev
  auth_mode: NO_AUTH #HTTP_AD, CAS, NO_CAS, NO_AUTH
  routing_context_production_host: domaine.pro
  observatoire_url: "https://observatoire_url"
  vinsi_url: "https://vinsi_url"
  url_reprise_donnees_drm: "http://url_reprise_donnees_drm"
  url_header: "http://url_header"
  url_nav: "http://url_nav"
  force_usurpation_mode: false
  cas:
    domain: login.cas
    port: 443
    path: cas
    url : "https://login.cas:443/cas"
  ldap:
    serveur: localhost
    dn: cn=admin,dc=interloire,dc=tld
    dc: dc=interloire,dc=tld
    pass: pass
    autoupdate: false
  ad:
    defaultuser: user
    defaultpassword: pass
    domain: interloire
    basedn: dc=interloire,dc=tld
    host: localhost
    port: 389
  mail:
    from_email: email@email.com
    from_name: "From name"
  ac_exception_notifier:
    enabled: false
    email:
      from: "email@email.email"
      from_name: "acExceptionNotifierPlugin"
      to: ["email@email.email"]
      subject: "[GIILDA] Erreur 500 : %title%"
  pdf:
    reader_link: "https://pdfreaders.org/pdfreaders.fr.html"
  configuration:
    facture:
      emetteur_cvo:
        adresse: 'adresse IVSO CVO'
        code_postal: 'cp IVSO CVO'
        ville: 'IVSO CVO'
        telephone: 'tel IVSO - fax IVSO CVO'
        email: 'IVSO@IVSO.fr CVO'
      emetteur_libre:
        adresse: 'adresse IVSO LIBRE'
        code_postal: 'cp IVSO LIBRE'
        ville: 'IVSO LIBRE'
        telephone: 'tel IVSO - fax IVSO LIBRE'
        email: 'IVSO@IVSO.fr LIBRE'
      coordonnees_bancaire:
        banque: 'Banque nom'
        bic: ' BICXXXXX'
        iban: ' FR00~0000~1111~2222~3333~4444~000'
      infos_interpro:
        siret: '000 111 000 22222'
        ape: ' 1111 X'
        tva_intracom: 'FR 00 00000000'
#  alertes:
#    debug: true
#    generations:
#      #DRM manquantes, une DRM est considéré manquante par rapport à la période de la DRM la plus récente
#      DRM_MANQUANTE:
#        class: AlerteGenerationDRMManquantes
#      #DRA manquante, une DRA est considéré manquante par rapport à la période de la DRA la plus récente
#      DRA_MANQUANTE:
#        class: AlerteGenerationDRAManquante
#  relance:
#    responsable_economique: 'prenom nom'
#    emetteur:
#      VILLE:
#        adresse: 'adresse'
#        code_postal: 'cp'
#        ville: 'ville'
#        services_operateurs:
#         - {nom: 'prenom nom', telephone: 'Tél : 00 00 00 00 00', email: 'email@example.org'}
  teledeclaration:
    contact_contrat:
      REGION_CVO:
        nom: 'Prenom Nom'
        telephone: '00 00 00 00 00'
        email: 'mail@example.org'
      REGION_HORS_CVO:
        nom: 'Prenom Nom'
        telephone: '00 00 00 00 00'
        email: 'mail@example.org'
    adresse_interpro: "adresse"
    url: 'url_portail'
    interpro: 'Intreprox'
    numero_interpro_adhesion: '05 53 63 57 63 ou 05 53 63 57 52'
  ciel:
    siren: ""
    oauth:
      url: ""
      service: ""
      host: ""
      iss: ""
      keypath: ""
      keypass: ""
      urltoken: ""
      urlapp: ""
