/**
 * Fichier : style.css
 * Description : styles de l'authentification
 * Auteur : Mikaël Guillin - mguillin[at]actualys.com
 * Version : 1.0.0
 ******************************************/

/**
 * Reset
 ******************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, a, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video
{
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
} 

html, body { height: 100%; }
a img, fieldset { border: 0; }
a *, label, button, input[type=image], input[type=button], input[type=submit] { cursor: pointer; }
ol { list-style-position: inside; }
ul { list-style: none; }
strong { font-weight: bold; }
em { font-style: italic; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
table { border-collapse: collapse; border-spacing: 0; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
hr { border: 0; border-top: 1px solid #ccc; display: block; height: 1px; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }


/**
 * Eléments génériques
 ******************************************/
*, 
*:before,
*:after
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body
{
	background: #ecebeb url('../images/bg_global.png');
	color: #4b4a4a;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 1.2;
}

a { color: inherit; }

img
{
	height: auto;
	max-width: 100%;
}


/**
 * Classes génériques
 ******************************************/

.cf:before,
.cf:after 
{
    content: " ";
    display: table;
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* Texte */
.txt_centre { text-align: center; }

.txt_gauche { text-align: left; }

.txt_droite { text-align: right; }

/* Boutons / Liens */
.btn_majeur
{
	background: url('../images/btn_majeur.png') repeat-x;
	border: 1px solid;
	border-radius: 4px;
  	box-shadow: 0 2px 0 #eee;
	-webkit-box-shadow: 0 2px 0 #eee;
	color: #FFF;
	display: inline-block;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	margin: 0;
	padding: 0 10px;
	position: relative;
	text-decoration: none;
  	text-shadow: 1px 1px rgba(0,0,0,0.1);
  	-moz-text-shadow: 1px 1px rgba(0,0,0,0.1);
	-webkit-text-shadow: 1px 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
}

.btn_vert
{
	background-position: 0 -78px;
	border-color: #83a44d;
}

.btn_orange
{
	background-position: 0 -104px;
	border-color: #f6b32c;
}

/* Formulaires */
.form_ligne { margin: 15px 0; }

.champ
{
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	background: #fafafa;
	box-shadow: inset 0 1px 3px #a6a6a6;
	-webkit-box-shadow: inset 0 1px 3px #a6a6a6;
	padding: 5px;
}

/**
 * Structure
 ******************************************/
.gabarit
{
	margin: 0 auto;
	width: 940px;
}

#page
{
	min-height: 100%;
	margin-bottom: -60px; /* hauteur du footer */
}

#page:after
{
	content: '';
	display: block;
	height: 60px; /* hauteur du footer */
}

#header
{
	background: #FFF;
	box-shadow: 0 3px 2px #c6c5c5;
	-webkit-box-shadow: 0 3px 2px #c6c5c5;
	padding: 30px 0;
}

#header .gabarit 
{ 
	left: -100px;
	position: relative; 
}

#header h1,
#header .logo
{
	display: inline-block;
	vertical-align: middle;
}

#header h1
{
	border-left: 1px solid #9a9a9a;
	color: #555353;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 0 20px;
	padding: 16px 0 16px 20px;
	position: relative;
}

#contenu
{
	background: #f4f4f4;
	border-radius: 5px;
	box-shadow: 0 1px 4px #c2c1c1;
	-webkit-box-shadow: 0 1px 4px #c2c1c1;
	margin-bottom: 35px; 
	margin-top: 35px;
	padding: 35px 80px;
}

#contenu .intro { margin: 0 0 20px; }

#contenu .visuel { float: left; }

#contenu .visuel_mobile 
{ 
	display: none;
	margin: 0 0 10px; 
}

#contenu .authentification
{
	float: right;
	width: 348px;
}

#contenu .authentification .bloc { background: #FFF; }

#contenu .authentification .bloc h2
{
	background: #dadada;
	color: #378c95;
	font-size: 14px;
	padding: 10px 0 10px 20px;
	text-transform: uppercase;
}

#contenu .authentification .bloc_contenu 
{
	font-size: 14px; 
	padding: 20px; 
}

#contenu .authentification .bloc_inscription .bloc_contenu
{
	padding-bottom: 42px;
	padding-left: 50px;
	padding-right: 50px;
}

#contenu .authentification .bloc_inscription .btn_majeur { margin: 20px 0 0; }

#contenu .bloc_connexion { margin: 0 0 15px; }

#contenu .bloc_connexion label
{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	width: 115px;
}

#contenu .bloc_connexion .champ { width: 188px; }

#contenu .bloc_connexion .mdp_oublie
{
	color: #848181;
	font-size: 11px;
}

#footer
{
	background: #FFF;
	color: #a4a4a4;
	font-size: 14px;
	font-weight: bold;
	height: 60px;
	padding: 20px 0;
	text-align: center;
}

#footer a { text-decoration: none; }

#footer ul { display: inline; }

#footer li { display: inline-block; }

#footer li + li:before
{
	content: '|';
	margin: 0 5px;
}

/**
 * Tablette
 ******************************************/
@media screen and (max-width: 1150px)
{
	.gabarit { width: 810px; }

	#header .gabarit { left: 0; }

	#contenu
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	#contenu .intro
	{
		font-size: 14px;
		text-align: center;
	}
}

/**
 * Mobile
 ******************************************/
@media screen and (max-width: 850px)
{
	.gabarit { width: auto; }

	#header 
	{ 
		padding: 10px 0; 
		text-align: center; 
	}

	#header .logo,
	#header h1 { display: block; }

	#header .logo
	{
		margin: 0 auto;
		width: 190px;
	}

	#header h1
	{
		border: 0;
		font-size: 16px;
		margin: 10px 0 0;
		padding: 0;
	}

	#contenu .visuel { display: none; }
	#contenu .visuel_mobile { display: block; }

	#contenu .visuel,
	#contenu .authentification { float: none; }

	#contenu .authentification { width: auto; }

	#contenu .authentification .champ { width: 270px; }

	#footer {height: auto;}
}
